<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trending Movies and TV Shows</title>
  </head>
  <body>
    <div class="for-tab" *ngIf="!movieClicked && !seriesClicked">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="activeTab === 'movies'"
            (click)="switchTab('movies')"
            >Moviess</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="activeTab === 'tvShows'"
            (click)="switchTab('tvShows')"
            >TV Shows</a
          >
        </li>
      </ul>
    </div>

    <div class="master-container">
      <div class="header-image" style="position: relative;" *ngIf="!movieClicked && !seriesClicked">
        <img src="assets/images/header_images.jpg" alt="Header Image" style="width: 100%; height: 60vh; padding-bottom: 2rem; opacity: 0.5;">
        <div style="position: absolute; top: 20%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white; font-size: 2em; font-weight: bold;">Dobrodošli</div>
        <div style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white; font-size: 1em; font-weight: bold;">Milijuni filmova, serija za pretragu. Istražite sve.</div>
        <div style="position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%); text-align: center; ">
          <input type="text" [(ngModel)]="searchText" (input)="onSearchTextChanged($event)" placeholder="Search...">
          <svg viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="position: absolute; top: 50%; right: 15px; transform: translateY(-50%); pointer-events: none;">
            <circle cx="11" cy="11" r="8" />
            <line x1="21" y1="21" x2="16.65" y2="16.65" />
          </svg>
        </div>
      </div>
    
      

      <div *ngIf="activeTab === 'movies'">
        <div
          *ngIf="trendingMovies.length > 0; else loading"
          class="movie-container"
        >
        <div *ngFor="let movie of filteredMovies" class="movie-item" (click)="redirectToMovieDetails(movie.id)">
            <div class="movie-details">
              <img
                src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                alt="{{ movie.title }} Poster"
                class="movie-image"
              />
              <div class="movie-info">
                <h2>{{ movie.title }}</h2>
                <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
                <p><strong>Overview:</strong> {{ movie.overview }}</p>
                <p>
                  <strong>Rating:</strong> {{ movie.vote_average.toFixed(2) }}({{
                    movie.vote_count
                  }}
                  votes)
                </p>
              </div>
              <div class="title">{{ movie.original_title }}</div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="activeTab === 'tvShows'">
        <div
          *ngIf="trendingTVShows.length > 0; else loading"
          class="tv-show-container"
        >
        <div *ngFor="let tvShow of filteredTVShows" class="tv-show-item" (click)="redirectToSeriesDetails(tvShow.id)">
            <div class="tv-show-details">
              <img
                src="https://image.tmdb.org/t/p/w500{{ tvShow.poster_path }}"
                alt="{{ tvShow.name }} Poster"
                class="tv-show-image"
              />
              <div class="tv-show-info">
                <h2>{{ tvShow.name }}</h2>
                <p>
                  <strong>First Air Date:</strong> {{ tvShow.first_air_date }}
                </p>
                <p><strong>Overview:</strong> {{ tvShow.overview }}</p>
                <p>
                  <strong>Rating:</strong> {{tvShow.vote_average.toFixed(2) }}({{
                    tvShow.vote_count
                  }}
                  votes)
                </p>
              </div>
              <div class="title">{{ tvShow.name }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="movie-detail" *ngIf="movieClicked">
        <div class="bk-btn" (click)="goBack()"><div class="bk-btn-triangle">
        </div><div class="bk-btn-bar"></div></div>
        <div>
          <!-- Slika filma ako nema video najava -->
          <div *ngIf="!safeUrl" class="center-detail">
            <img src="https://image.tmdb.org/t/p/w500/{{ selectedMovie.poster_path }}" alt="Poster" style="width: 300px; margin-right: 20px;">
          </div>
          <div *ngIf="safeUrl" class="center-detail">
            <iframe width="560" height="315" [src]="safeUrl" frameborder="0" allowfullscreen></iframe>
          </div>
          <!-- Informacije o filmu -->
          <div>
            <h1 class="center-detail">{{ selectedMovie.title }}</h1>
            <p class="center-detail"><strong>Release Date:</strong> {{ selectedMovie.release_date }}</p>
            <p class="center-detail"><strong>Overview:</strong> {{ selectedMovie.overview }}</p>
            <p class="center-detail"><strong>Rating:</strong> {{selectedMovie.vote_average.toFixed(2)}}({{ selectedMovie.vote_count }} votes)</p>
            <p class="center-detail"><strong>Original Language:</strong> {{ selectedMovie.original_language }}</p>
          </div>
        </div>
      </div>

      <div class="series-detail" *ngIf="seriesClicked">
        <div class="bk-btn" (click)="goBack()"><div class="bk-btn-triangle">
        </div><div class="bk-btn-bar"></div></div>
        <div>
          <!-- Slika filma ako nema video najava -->
          <div *ngIf="!safeUrl" class="center-detail">
            <img src="https://image.tmdb.org/t/p/w500/{{ selectedSeries.poster_path }}" alt="Poster" style="width: 300px; margin-right: 20px;">
          </div>
          <div *ngIf="safeUrl" class="center-detail">
            <iframe width="560" height="315" [src]="safeUrl" frameborder="0" allowfullscreen></iframe>
          </div>
          <!-- Informacije o seriji -->
          <div>
            <h1 class="center-detail">{{ selectedSeries.name }}</h1>
            <p class="center-detail"><strong>Release Date:</strong> {{ selectedSeries.release_date }}</p>
            <p class="center-detail"><strong>Overview:</strong> {{ selectedSeries.overview }}</p>
            <p class="center-detail"><strong>Rating:</strong> {{ selectedSeries.vote_average.toFixed(2) }}({{ selectedSeries.vote_count }} votes)</p>
            <p class="center-detail"><strong>Original Language:</strong> {{ selectedSeries.original_language }}</p>
          </div>
        </div>
      </div>
      
      
      
  
      <a href="#" class="back-to-top" (click)="scrollToTop()">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up">
          <path d="M18 15l-6-6-6 6"/>
        </svg>
      </a>      
    </div>

    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>
  </body>
</html>
